
<div *ngIf="comment">
  <form class="form-inline" #commentForm="ngForm">
    <div class="form-group">
      <div class=" col-sm-6">
        <input class="form-control" id="inputTitle" [(ngModel)]="comment.text" placeholder="Comment" type="text"
               name="text">
        <div class=" col-sm-3 text-left text-danger" *ngIf="err">{{err.message}}</div>
      </div>
    </div>

    <div class="btn-group" role="group">
      <button type="button" (click)="save()" class="btn btn-default">Save</button>
    </div>

  </form>
</div>
<br>
<br>